In [1]:
import pandas as pd

In [18]:
epi = pd.read_excel('data/JHUData.xlsx')
epi = epi.drop('Unnamed: 0', 1)

In [19]:
geo = pd.read_excel('题目一：地名数据库.xlsx', sheet_name='霍普金斯地名')
geo = geo.drop('Column1', 1)

In [28]:
merge = pd.merge(geo,epi)
merge

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Last_Update,Longitude,Latitude,Confirmed,Deaths,Recovered,Active
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan,04/18/20 22:32,67.709953,33.93911,933,30.0,112.0,791.0
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania,04/18/20 22:32,20.168300,41.15330,548,26.0,302.0,220.0
2,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.03390,1.659600,Algeria,04/18/20 22:32,1.659600,28.03390,2534,367.0,894.0,1273.0
3,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.50630,1.521800,Andorra,04/18/20 22:32,1.521800,42.50630,704,35.0,205.0,464.0
4,24,AO,AGO,24.0,NaN,NaN,NaN,Angola,-11.20270,17.873900,Angola,04/18/20 22:32,17.873900,-11.20270,24,2.0,6.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445,84090053,US,USA,840.0,90053.0,Unassigned,Washington,US,NaN,NaN,"Unassigned, Washington, US",04/18/20 22:32,NaN,NaN,444,0.0,0.0,444.0
3446,84090054,US,USA,840.0,90054.0,Unassigned,West Virginia,US,NaN,NaN,"Unassigned, West Virginia, US",04/18/20 22:32,NaN,NaN,0,9.0,0.0,-9.0
3447,84090055,US,USA,840.0,90055.0,Unassigned,Wisconsin,US,NaN,NaN,"Unassigned, Wisconsin, US",04/18/20 22:32,NaN,NaN,0,0.0,0.0,0.0
3448,84090056,US,USA,840.0,90056.0,Unassigned,Wyoming,US,NaN,NaN,"Unassigned, Wyoming, US",04/18/20 22:32,NaN,NaN,0,1.0,0.0,-1.0
3449,84099999,US,USA,840.0,99999.0,NaN,Grand Princess,US,NaN,NaN,"Grand Princess, US",04/18/20 22:32,NaN,NaN,103,0.0,0.0,103.0

In [30]:
tmp = merge[merge['Province_State'].isna()]

for i in tmp.index:
    merge['Province_State'].iloc[i] = 'Unassigned'

/Users/ruizhi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [34]:
merge.sort_values(by='Country_Region').reset_index().drop('index',1).to_excel('data/geo_epi.xlsx')